.image-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
    padding: 20px;
 
    border-radius: 10px;
    width: 100%;
    
    
  }
  .fa-solid{
    padding: 8px;
    color: #b343b9;
    font-size: 20px;
  
  }
  .image-upload-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  
  .image-upload-container input[type="file"] {
    margin-left: 20px;
    padding: 5px;
    margin-bottom: 5px;
  }
  
  .image-upload-container button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .image-upload-container button[type="submit"]:hover {
    background-color: #45a049;
  }
  .image{
    height: 130px;
    border-radius: 15px;
  }

  #upload-button{
   
    font-weight: bold;
    background: linear-gradient(to right, #ffbf00, #e94898);
    border-radius: 20px;
  }

  #generate{
    padding: 10px 20px;
    border: none;
    margin: 20px 0;
    border-radius: 15px;
    font-weight: bold;
    
      background: linear-gradient(to right, #ffbf00, #e94898);
    
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    }

    /* .form button[type="submit"]:hover {
    
      background: linear-gradient(to right, #ffbf00, #ff0080);
    
    
    } */
  
  /* Adjustments for the TextField component have to be made inline using the sx prop */
  
  