.caption-container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 flex-grow:initial;
height: 100%;

    
    
   
    

    
    
  
}
 @media (min-width: 600px) {
 .caption-container {
 
   flex-wrap: wrap;
 flex-grow:initial;
 flex-flow: row wrap;
 }
 }
.selector{
  display: flex;
  flex-direction: row;


 
}
#demo-select-small{
 
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width:500px;
    margin: 20px auto;
    padding: 20px;
    /* border: 1px solid #ddd; */
    border-radius: 15px;
    /* background-color: #e8e8e8; */

   
      
    
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    }

   

    .form button[type="submit"] {
    padding: 10px 20px;
    border: none;
    margin: 20px 0;
    border-radius: 15px;
    font-weight: bold;
    
      background: linear-gradient(to right, #ffbf00, #e94898);
    
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    }

    .form button[type="submit"]:hover {
    
      background: linear-gradient(to right, #ffbf00, #ff0080);
    
    
    }
    .form h1{
        margin-bottom: 5px;
    }

    #outlined-required:hover{
     
    
    }

    

    @media (max-width: 768px) {
    .form {
        width: 90%;
        padding: 15px;
    }
    }
.typewriter{
    


  background: linear-gradient(to right, #5c6bc0, #bd3c7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  


}
   #title{
    background: linear-gradient(to right, #bd3c7d, #5c6bc0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family:Georgia, 'Times New Roman', Times, serif;
  
   }
   .image{

  
    margin: 5px;
    padding: 5px;
   }

  @media screen and (max-width: 357PX) {
    #title{
        font-size: 1.1rem;
    }
    
  }
  @media screen and (max-width: 315PX) {
    #demo-select-small{
        width: 40px;
    }
    
  }


.header h1{
   margin-bottom: 20px;
}


.input {
  width: 100%;
  max-width: 300px;
  height: 55px;
  padding: 12px;
  margin: 5px 0;
  font-size: 16px;
  border-radius: 15px;
  border: 1.5px solid lightgrey; ;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.input:hover {
  border: 2px solid rgb(234, 209, 209);
  box-shadow: 0px 0px 20px -17px;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  border: 2px solid rgb(125, 124, 124);
}