
.cap-container {
    
    
    width: auto;
    /* max-width: 80vw;
    min-height: 20vh; */
    height: 250px;
    width: 250px;
    margin: 5px;

   
    
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    
    /* margin-top: 10px;
    margin-left: 8px; */

cursor: pointer;
padding: 8px 12px;
/* background-color: #6adee8; */
border-radius: 14px;
background: #ff8080;
box-shadow: inset 10px -10px 20px #e67373,
            inset -10px 10px 20px #ff8d8d;
color: #141313;
 font-family: 'Poppins', sans-serif;
}

.cap-container:hover {

box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
transform: translateY(-2px);
}

.cap-container:active {
background-color: #d8d8d8;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
transform: translateY(0);
}
#copy{
    margin-top: 1px;
    font-weight: bold;
    background: linear-gradient(to right, #ffbf00, #e94898);
    border-radius: 12px;
    
    }

#copy:hover{
    background: linear-gradient(to right, #ffbf00, #ff0080);
}
#Caption{
    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-weight: bold;
}